<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349159251834-co3h7ljfkndt0u8l4q1jsto16sprlf3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349159251834-co3h7ljfkndt0u8l4q1jsto16sprlf3s</string>
	<key>API_KEY</key>
	<string>AIzaSyAlYGQvD5vieql1hVlfz5F6QRju-LichxE</string>
	<key>GCM_SENDER_ID</key>
	<string>349159251834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahaRto</string>
	<key>PROJECT_ID</key>
	<string>maharto-cf57d</string>
	<key>STORAGE_BUCKET</key>
	<string>maharto-cf57d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349159251834:ios:ae2548db93bf87c71f00c3</string>
</dict>
</plist>